@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success text-center">
    @TempData["SuccessMessage"]
</div>
}

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger text-center">
    @TempData["ErrorMessage"]
</div>
}

<h3>List of all users</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Action
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                <form asp-controller="Admin" asp-action="DeleteUser" method="post" asp-route-id="@item.Id">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                <form asp-controller="Car" asp-action="IndexList" method="get" asp-route-id="@item.Id" >
                    <button type="submit" class="btn btn btn-secondary">See Cars</button>
                </form>

            </td>
        </tr>
    }
    </tbody>
</table>