@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success text-center">
    @TempData["SuccessMessage"]
</div>
}

@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger text-center">
    @TempData["ErrorMessage"]
</div>
}

<h3>List of all users</h3>

<table class="table">
    <thead>
    <tr>
        <th>
            Username
        </th>
        <th>
            Email
        </th>
        <th>
            Action
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @item.UserName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                <div class="buttons-flex">
                    <form asp-controller="Admin" asp-action="DeleteUser" method="post" asp-route-id="@item.Id" id="DeleteUserForm_@item.Id">
                        <button type="submit" class="btn btn-danger" id="DeleteUserButton_@item.Id">Delete</button>
                        <script defer>
                            document.getElementById('DeleteUserButton_@item.Id').addEventListener('click', (e) => confirmDangerousActions(e, "DeleteUserForm_@item.Id",
                                "Are you sure you want to delete this user?", "This action cannot be reversed. It will delete all reservations associated with this user."))
                        </script>
                    </form>
                    <form asp-controller="Car" asp-action="IndexList" method="get" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn btn-outline-primary">See Cars</button>
                    </form>
                    <form asp-controller="Reservation" asp-action="IndexList" method="get" asp-route-id="@item.Id">
                        <button type="submit" class="btn btn btn-outline-secondary">See Reservations</button>
                    </form>
                </div>
            </td>
        </tr>
    }
    </tbody>
</table>