@model IEnumerable<Parking>

@{
    ViewData["Title"] = "Manage Pargings";
}

<h1 id="Title">Manage Parkings</h1>
<div id="ParkingFlexContainer">
    @foreach (var parking in Model)
    {
        <a asp-controller="Parking" class="parking-flex-item" asp-action="Update" asp-route-id="@parking.Id">
            <h2>@parking.Name</h2>
            City: @parking.City <br/>
            Street: @parking.Street <br/>
            Street Number: @parking.StreetNr <br/>
            Capacity: @parking.Capacity <br/>
            Description: @parking.Description <br/>
        </a>
    }

    <a id="AddParking" class="parking-flex-item-add" asp-controller="Parking" asp-action="Create">
        +
    </a>
</div>