@model IEnumerable<Parking>

@{
    ViewData["Title"] = "Manage Pargings";
}

<h1>Manage Parkings</h1>
<div id="ParkingFlexContainer">
    @foreach (var parking in Model)
    {
        <div class="parking-flex-item">
            <h2>@parking.Name</h2>
            City: @parking.City <br/>
            Street: @parking.Street <br/>
            Street Number: @parking.StreetNr <br/>
            Capacity: @parking.Capacity <br/>
            Description: @parking.Description <br/>
            <a asp-controller="Parking" asp-action="Delete" asp-route-id="@parking.Id">Delete</a>
        </div>
    }

    <div class="parking-flex-item">
        <a id="AddParking" asp-controller="Parking" asp-action="Create">+</a>
    </div>
</div>