@{
    ViewData["Title"] = "Parkings - reserve a slot";
}

@model IEnumerable<Parking>

<h1 id="Title">Make a reservation for suiting parking:</h1>

<div id="ParkingFlexContainer">
    @foreach (var parking in Model)
    {
        <a asp-controller="Reservation" class="parking-flex-item" asp-action="Create" asp-route-id="@parking.Id">
            <h2>@parking.Name</h2>
            City: @parking.City <br/>
            Street: @parking.Street <br/>
            Street Number: @parking.StreetNr <br/>
            Capacity: @parking.Capacity <br/>
            Description: @parking.Description <br/>
        </a>
    }
</div>