@using System.Diagnostics
@using Microsoft.AspNetCore.Server.Kestrel.Core
@model IEnumerable<Car>

@if (TempData["SuccessMessage"] != null)
{
<div class="alert alert-success text-center">
    @TempData["SuccessMessage"]
</div>
}
@if (TempData["ErrorMessage"] != null)
{
<div class="alert alert-danger text-center">
    @TempData["ErrorMessage"]
</div>
}
<h1>My Cars</h1>

<div id="ParkingFlexContainer">
    @foreach (var car in Model)
    {
        <a class="parking-flex-item" asp-controller="Car" asp-action="Update" asp-route-id="@car.Id">
            <h3>Car data:</h3>
            Make: @car.Make<br/>
            Model: @car.Model<br/>
            Registration number: @car.RegistrationNumber<br/>
        </a>
    }
    <a id="AddParking" class="parking-flex-item-add" asp-controller="Car" asp-action="Create">
        +
    </a>
</div>
